:root {
  --gradient: linear-gradient(
    to right bottom,
    #000000,
    #28131e,
    #451e3d,
    #5c2d66,
    #654397,
    #705bb2,
    #7a73ce,
    #838be9,
    #a7a6ef,
    #c6c3f4,
    #e4e0fa,
    #ffffff
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}
