:root{
  --gradient: linear-gradient(
    to right bottom,
    #7db9e2,
    #69b9de,
    #54b8d7,
    #3fb7cf,
    #2ab6c4,
    #44bbc4,
    #58c0c4,
    #69c5c5,
    #90d2d2,
    #b4dfdf,
    #d5ecec,
    #f6f9f9
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}
